
@import url('https://fonts.googleapis.com/css2?family=Anton&family=BBH+Bartle&family=Gabarito:wght@400..900&family=Geom:ital,wght@0,300..900;1,300..900&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins";
}


body {
  margin: 0;
}

.textbody h1{
    font-size: 24px;
    font-weight: 600;
    width: 80%;
    

}

#formbody{
    padding-left: 25px;
}

.container {
  display: flex;      /* puts children side by side */
  min-height: 100vh;  /* full screen height */
}

.image {
  width: 30%;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
}

.formbody {
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgb(246, 246, 246);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
